:root {
  --black-primary: #161513;
  --black-secondary: #1c1c22;
  --write-primary: #f0f2f5;
  --write-secondary: #ffffff;
  --gradiend: linear-gradient(90deg, #b16cea 14%, #ff5e69 45%, #ff8a56 72%, #ffa84b 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: var(--write-primary);
    --color-background: var(--black-primary);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family: 'open-sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
